/* PRELOADER STYLING */

/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
// .preloader {
// 	background: $color_torch_red;
// 	height: 100%;
// 	left: 0;
// 	position: relative;
// 	top: 0;
// 	width: 100%;
// 	z-index: 9999;
// 	border-radius: 50px;
// 	animation: preloader_animate 1.5s infinite linear;
// }

.loader-container {
	background: $black;
	text-align: center;
	height: 100vh;
}


.loader {
    border: 16px solid $color_dirty_white_60;
    border-top: 16px solid $color_light_blue;
    border-radius: 50%;
    width: 80px;
	height: 80px;
	position: relative;;
	top: 50%;
	transform: translateY(-50%);
	animation: spin 2s linear infinite;
	z-index: 9999;
	margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}