.heading-wrapper {
    align-content: end;
    background-color: $black;
    border: 3px solid $yellow;
    color: $white;
    display: grid;
    margin: 1em;
    padding: $padding-mobile;
    place-self: center;
    text-align: end;
    position: relative;
}

.heading-wrapper::before {
    border: 3px solid $dirty-white;
    content: '';
    position: absolute;
    top: -10%;
    left: 5%;
    height: 95%;
    width: 105%;
}

.heading-wrapper::after {
    border-bottom: 3px solid $blue;
    content: '';
    position: absolute;
    bottom: 30%;
    right: -8%;
    width: 95%;
}
