//===== VARIABLES =====//
// Colors
$black: rgb(40, 40, 40);
$glass-black: rgba(40, 40, 40, .2);
$dirty-white: rgb(245, 245, 245);
$white: rgb(255, 255, 255);
$glass-white: rgba( 255, 255, 255, .2);
$blue: rgb(0, 135, 255);
$glass-blue: rgba( 0, 135, 255, .2);
$yellow: rgb(255, 206, 0);
$glass-yellow: rgba( 255, 206, 0, .2);
// Typography
$audiowide: 'Audiowide', cursive;
$exo2: 'Exo 2', sans-serif;
// Misc
$padding-mobile: 1em 1em 2em 2em;
$padding-desktop: 2em 2em 4em 4em;

// General Styles
body {
    color: $black;
    font-family: $exo2;
    font-size: 1em;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $audiowide;
}

