.burger {
    background: var(--blue);
    box-shadow: 1px 1px 1px var(--black);
    margin: 6px;
    position: relative;
    height: 4px;
    width: 25px;
    transition: all .5s ease-in-out;
}

.burger:before {
    background: var(--white);
    box-shadow: 1px 1px 1px var(--black);
    content: '';
    position: absolute;
    top: -8px;
    height: 4px;
    width: 25px;
    transition: all .5s ease-in-out;
}

.burger:after {
    background: var(--yellow);
    box-shadow: 1px 1px 1px var(--black);
    content: '';
    position: absolute;
    top: 8px;
    height: 4px;
    width: 25px;
    transition: all .5s ease-in-out;
}

.burger.active {
    transform: scale(1.4) rotate(135deg);
    transition: all .5s ease-in-out;
}

.burger.active:before {
    opacity: 0;
    transition: all .5s ease-in-out;
}

.burger.active:after {
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
    top: 0;
}

.menu {
    opacity: 0;
    transition: all .5s ease-in-out;
    width: 120px;
}

.menu.active {
    box-shadow: -3px 0 8px black;
    color: var(--white);
    opacity: 1;
    position: absolute;
    transition: all .5s ease-in-out;
    width: 450px;
}

@media (max-width: 1000px) {
    .menu.active {
        width: 100vw;
    }
}
