#about {
    background: linear-gradient(to bottom, $glass-white 25%, $glass-blue 50%, $glass-yellow);
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 4fr;
    padding-top: 8vh;

    .heading-wrapper {
        padding-bottom: 3em;
    }

    .profile-wrapper {
        place-self: center;
        position: relative;
        height: 260px;
        width: 260px;
        z-index: 2;

        img {
            border: 3px solid $dirty-white;
            width: 100%;
            height: auto;
            overflow-y: hidden;
        }
    }

    .profile-wrapper::before {
        background: $black;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        height: 120%;
        width: 120%;
        transform: translate(-50%, -50%) rotate(5deg);
        z-index: -1;
    }

    .about-icons {
        background-color: $black;
        color: $dirty-white;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1.5em;
        place-self: center;

        a {
            color: inherit;
            font-size: 4em;
            place-self: center;
        }
    }
}
