#craft {
    background: url("/images/craft-bg.jpg") fixed center center no-repeat;
    background-size: cover;
    border-top: 3px solid $black;
    box-sizing: content-box;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    height: 100%;
    overflow-y: visible;
    padding: 15vh 0.5em;

    .craft-icons {
        border: 3px solid $dirty-white;
        color: $dirty-white;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1.5em;
        place-self: center;
        text-shadow: 2px 2px 2px $black;

        i {
            font-size: 4em;
        }
    }

    .chevron-wrapper {
        align-self: center;
        background-color: $dirty-white;
        justify-self: end;
        position: relative;
        z-index: 2;

        .chevron {
            background-color: $black;
            border: 3px solid $dirty-white;
            padding: 1em;

            // height: 90%;

            :first-child {
                color: $white;
            }

            :nth-child(2) {
                color: $blue;
            }

            :last-child {
                color: $yellow;
            }
        }
    }
}
