header {
    align-content: center;
    background: linear-gradient(
        to bottom,
        $glass-white 40%,
        $glass-blue
    );
    background-size: 100%;
    display: grid;
    height: 100vh;
    position: relative;
    text-align: center;

}