.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    right: 0;
    z-index: 3;
}

.burger {
    background: $black;
    border: 4px solid $dirty-white;
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transition-property: border;
    transition-duration: .2s;

    .burger-mobile {
        background: $blue;
        height: 7px;
        width: 45px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
        transition-delay: .1s;
    }

    .burger-mobile:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $dirty-white;
        display: block;
        top: -15px;
        left: 0px;
        transition-property: top, transform;
        transition-delay: .5s, 0;
        transition-duration: .5s, .5s;
    }

    .burger-mobile:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $yellow;
        display: block;
        top: 15px;
        left: 0px;
        transition-property: top, transform;
        transition-delay: .5s, 0;
        transition-duration: .5s, .5s;
    }
}

.burger.active {
    border: 0;
}

.toggle.active span:before {
    background: $blue;
    top: 0;
    transform: rotate(45deg);
}

.toggle.active span:after {
    top: 0;
    transform: rotate(-45deg);
}

.toggle.active span {
    background: transparent;
}

nav {
    background: $black;
    color: $dirty-white;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    text-align: center;
    text-decoration: none;
    padding: 0;
    transition-duration: .5s;

    ul {
        display: grid;
        justify-content: center;
        align-content: center;
        list-style-type: none;
        margin-top: 1em;
        padding-top: 20vh;

        li {
            // height: 80px;

            a {
                // border: 4px solid $dirty-white;
                color: $dirty-white;
                display: block;
                height: 80px;
                font-size: 1em;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

nav.active {
    width: 100vw;
    height: 100vh;
}
