#work {
    background-color: $black;
    color: $dirty-white;
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100%;
    position: relative;

    .heading-wrapper {
        grid-column: 1/2;
        padding: 2em;
        text-align: center;
    }

    .projects {
        padding-bottom: 2em;
        place-self: center;

        img {
            border: 3px solid $dirty-white;
            height: 100%;
            max-width: 100%;
            place-self: stretch;
        }
    }
}

// I had to do the polygon with the ::before and ::after to avoid weird behaviours of the child elements in #work
#work::before {
    background-color: $black;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    content: '';
    height: 8vh;
    width: 100%;
    position: absolute;
    top: -8vh;
    left: 0;
}

#work::after {
    background-color: $black;
    clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
    content: '';
    height: 8vh;
    width: 100%;
    position: absolute;
    bottom: -8vh;
    left: 0;
}
