:root {
    --black: rgb(29, 32, 41);
    --white: rgb(245, 245, 245);
    --blue: rgb(0, 135, 255);
    --yellow: rgb(249, 205, 70);
}

body {
    background: var(--black);
}

a {
    color: inherit;
}

a:visited {
    text-decoration: none;
}